# packages in environment at C:\Users\Jcue\Anaconda2\envs\realPython:
#
click                     6.6                      py27_0  
flask                     0.11.1                   py27_0  
itsdangerous              0.24                     py27_0  
jinja2                    2.8                      py27_1  
markupsafe                0.23                     py27_2  
pip                       8.1.2                    py27_0  
python                    2.7.11                        4  
setuptools                23.0.0                   py27_0  
vs2008_runtime            9.00.30729.1                  1  
werkzeug                  0.11.10                  py27_0  
wheel                     0.29.0                   py27_0  
